* {
    box-sizing: border-box;
}
body{
    background-color: yellow;
}
.box-wrap{
    background-color: lightgray;
    display: block;
    width: 400px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
}
.title-large{
    font-size: xx-large;
    font-weight: bold;
    font-family: sans-serif;
    text-transform: uppercase;
    text-align: center;
}
.box{
    display: inline-block;
    width: 49%;
    text-align: center;
    padding-top: 5%;
}
.giph{
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 150px;
    padding: 3%;
}
.inner-container{
    background-color: black;
    color: white;
    text-align: center;
    margin: 10px;
}
.title-md{
    display: block;
    margin: 20px;
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: bold;
}
p{

    padding: 10px;
}